@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair:opsz,wght@5..1200,300&family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
}
.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 30px 20px;
    color: hsl(322, 100%, 66%);
    font-family: 'Poppins', sans-serif;
}
.navbar img {
    height: 60px;
    width: 200px;
    margin-top: 10px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 40px;
    border-radius: 30px;
    border: 2px solid hsl(322, 100%, 66%);
    padding: 10px;
}
.nav-links li:hover {
    cursor: pointer;
    background-color: hsl(322, 100%, 66%);
    color: white;
}
ul {
    list-style: none;
}

.main .main-text {
    margin-top: 180px;
}
.main-text h1 {
    font-size: 50px;
    text-align: center;
    justify-content: center;
    color: black;    
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.main-text p {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    padding: 0 330px;
}
.main-text .btn {
    width: 300px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    font-size: 18px;
    color: white;
    margin-top: 24px;
    margin-left: 500px;
    border: 2px solid hsl(322, 100%, 66%);
    box-shadow: 2px 2px 4px 2px rgb(197, 193, 193);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.main-text .btn:hover {
    cursor: pointer;
    border: 2px solid hsl(322, 100%, 66%);
    background-color: white;
    color: hsl(322, 100%, 66%);
}
.main img {
    height: 550px;
    width: 850px;
    margin-top: 60px;
    margin-left: 200px;
}

.stats {
    width: 80vw;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}
.stats-text {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.communities {
    padding: 100px;
}
.messages {
    padding: 100px;
}
.number {
    font-size: 5rem;
    font-weight: 700;
}
.name {
    color: rgb(74, 73, 73);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.together, .user {
    margin-top: -12px;
    display: flex;
    justify-content: space-around;
    background-color: hsl(207, 100%, 98%);
}
.together-text, .conversation-text, .user-text {
    margin: 150px 50px;
}
.together-text h1, .conversation-text h1, .user-text h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.together-text p, .conversation-text p, .user-text p {
    font-size: 18px;
    margin-top: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.together img, .user img {
    height: 400px;
    width: 500px;
    margin-top: 80px;
    margin: 0 100px 0 0;
}
.conversation {
    display: flex;
    justify-content: space-around;
}
.conversation img {
    height: 400px;
    width: 500px;
    margin-top: 80px;
    margin: 0 0 0 100px;
}

.ques .ques-text {
    margin-top: 100px;
    margin-bottom: 100px;
}
.ques-text h1 {
    font-size: 50px;
    text-align: center;
    justify-content: center;
    color: black;    
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.ques-text .btn {
    width: 300px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    font-size: 18px;
    color: white;
    margin-top: 24px;
    margin-left: 455px;
    border: 2px solid hsl(322, 100%, 66%);
    box-shadow: 2px 2px 4px 2px rgb(197, 193, 193);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.ques-text .btn:hover {
    cursor: pointer;
    border: 2px solid hsl(322, 100%, 66%);
    background-color: white;
    color: hsl(322, 100%, 66%);
}

.footer {
    margin-top: -8px;
    padding: 20px 70px;
    background-color: hsl(192, 100%, 9%);
}
.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsl(192, 100%, 9%);
    color: white;
    flex-wrap: nowrap;
}
.footer-box .footer-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.footer-box .footer-text p {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 100px;
    font-size: 15px;
    line-height: 22px;
    width: 500px;
}
.footer-box .footer-text label {
    width: 400px;
    display: inline-block;
    line-height: 22px;
}
.footer-box .footer-text label i {
    margin: 0 10px 10px 0 ;
}
.footer-box .footer-text .social-media {
    margin: 20px 0;
}
.footer-box .footer-text .social-media a i {
    color: white;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 50%;
}
.footer-box .footer-newsletter {
    position: relative;
    bottom: 32px;
}
.footer-box .footer-newsletter h3 {
    position: relative;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.footer-box .footer-newsletter p {
    width: 500px;
    display: block;
    line-height: 22px;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 50px;
}
.footer-box .footer-newsletter input {
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}
.email {
    box-sizing: border-box;
    outline: none;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.footer-box .footer-newsletter .btn {
    width: 80px;
    height: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.footer-box .footer-newsletter .btn:hover {
    cursor: pointer;
    border: 2px solid hsl(322, 100%, 66%);
    background-color: white;
    color: hsl(322, 100%, 66%);
}

@media only screen and (max-width: 1024px) {
    .navbar {
        padding: 20px 40px;
    }
    .navbar img {
        height: 50px;
        width: 170px;
        margin-top: 10px;
    }
    .nav-links li {
        margin: 0 25px;
        padding: 10px;
        font-size: 16px;
    }

    .main-text h1 {
        font-size: 50px;
    }
    .main-text p {
        padding: 0 30px;
        font-size: 25px;
    }
    .main-text .btn {
        width: 300px;
        font-size: 18px;
        margin-left: 360px;
    }
    .main img {
        height: 480px;
        width: 750px;
        margin-top: 70px;
        margin-left: 150px;
    }

    .stats {
        margin-left: 100px;
    }

    .conversation img {
        margin: 0 0 0 100px;
    }
    .together img, .user img {
        margin-top: 80px;
        margin: 0 100px 0 0;
    }

    .ques-text .btn {
        margin-left: 360px;
    }

    .footer {
        padding: 20px 70px;
    }
    .footer-box .footer-text h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .footer-box .footer-text p, .footer-box .footer-text label {
        width: 350px;
        margin-right: 30px;
    }
    .footer-box .footer-newsletter p {
        width: 350px;
        margin-right: 30px;
    }

    .footer-box .footer-newsletter input {
        width: 250px;
    }

    .email, .footer-box .footer-newsletter .btn {
        font-size: 14px;
    }

    .footer-box .footer-newsletter h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 20px 40px;
    }
    .navbar img {
        height: 50px;
        width: 170px;
        margin-top: 10px;
    }
    .nav-links li {
        margin: 0 25px;
        padding: 10px;
        font-size: 16px;
    }

    .main-text h1 {
        font-size: 45px;
    }
    .main-text p {
        padding: 0 30px;
    }
    .main-text .btn {
        width: 300px;
        font-size: 20px;
        margin-left: 240px;
    }
    .main img {
        height: 450px;
        width: 600px;
        margin-top: 70px;
        margin-left: 90px;
    }

    .stats {
        margin-left: 100px;
    }
    .number {
        font-size: 4rem;
    }

    .conversation img {
        height: 250px;
        width: 400px;
        margin-top: 80px;
        margin: 0 0 0 100px;
    }
    .together img,
    .user img {
        height: 250px;
        width: 400px;
        margin-top: 80px;
        margin: 0 150px 0 0;
    }

    .ques-text .btn {
        margin-left: 240px;
    }

    .footer {
        padding: 20px 30px;
    }
    .footer-box .footer-text h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .footer-box .footer-text p, .footer-box .footer-text label {
        width: 350px;
        margin-right: 30px;
    }
    .footer-box .footer-newsletter p {
        width: 350px;
        margin-right: 30px;
    }
    .footer-box .footer-newsletter input {
        width: 250px;
    }
    .email, .footer-box .footer-newsletter .btn {
        font-size: 14px;
    }
    .footer-box .footer-newsletter h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    body, html {
        overflow-x: hidden;
    }

    .navbar {
        padding: 20px 10px;
    }
    .navbar img {
        height: 40px;
        width: 150px;
        margin-top: 5px;
    }
    .nav-links li {
        margin: 0px 20px;
        padding: 6px;
        font-size: 14px;
    }

    .main .main-text {
        margin-top: 140px;
    }
    .main-text h1 {
        font-size: 30px;
        margin-top: 0px;
    }
    .main-text p {
        font-size: 15px;
        padding: 0 20px;
    }
    .main-text .btn {
        width: 150px;
        font-size: 12px;
        margin-left: 90px;
    }
    .main img {
        height: 250px;
        width: 300px;
        margin-top: 40px;
        margin-left: 15px;
    }

    .stats {
        width: 50vw;
        height: auto;
        margin-left: 90px;
    }
    .stats-text {
        flex-direction: column;
    }
    .communities, .messages {
        padding: 50px;
    }
    .number {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .name {
        font-size: 15px;
    }

    .together, .user {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: hsl(207, 100%, 98%);
    }
    .conversation {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
    }
    .together-text, .conversation-text, .user-text {
        margin: 50px 0;
    }
    .together-text h1, .conversation-text h1, .user-text h1 {
        font-size: 30px;
    }
    .together-text p, .conversation-text p, .user-text p {
        font-size: 15px;
    }
    .together img, .user img {
        height: 200px;
        width: 250px;
        margin-top: 30px;
        margin-right: 0;
    }
    .conversation img {
        height: 200px;
        width: 250px;
        margin-top: 30px;
        margin-left: 0;
    }
    
    .ques .ques-text {
        margin: 40px 0;
    }
    .ques-text h1 {
        font-size: 30px;
    }
    .ques-text .btn {
        width: 170px;
        font-size: 13px;
        margin-left: 70px;
    }

    .footer {
        margin-top: -8px;
        padding: 20px 20px;
        background-color: hsl(192, 100%, 9%);
    }
    .footer-box {
        justify-content: center;
        flex-direction: column;
    }
    .footer-box .footer-text {
        text-align: center;
    }
    .footer-box .footer-text h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .footer-box .footer-text p {
        margin-right: 0;
        width: auto;
    }
    .footer-box .footer-text label {
        width: auto;
    }
    .footer-box .footer-text .social-media {
        margin: 10px 0;
    }
    .footer-box .footer-text .social-media a i {
        margin-right: 5px;
    }
    .footer-box .footer-newsletter {
        bottom: 0;
    }
    .footer-box .footer-newsletter h3 {
        font-size: 18px;
        margin-left: 90px;
    }
    .footer-box .footer-newsletter p {
        width: auto;
        margin-right: 0;
        text-align: center;
        margin-top: 10px;
    }
    .footer-box .footer-newsletter input {
        width: 100%;
    }
    .email {
        width: 100%;
    }
    .footer-box .footer-newsletter .btn {
        width: 70px;
        margin-top: 10px;
        margin-left: 110px;
    }
}